<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792438731850-paksqgcjk9lj3m3vqipuiit739h9a4f7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792438731850-paksqgcjk9lj3m3vqipuiit739h9a4f7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>792438731850-a3f40dd34gvmrn5or0nedlfc5ricdge2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBS3mf7sF89sMoKa_mUMg8d6QkXwEud8eg</string>
	<key>GCM_SENDER_ID</key>
	<string>792438731850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bev.rates</string>
	<key>PROJECT_ID</key>
	<string>rates-12dcc</string>
	<key>STORAGE_BUCKET</key>
	<string>rates-12dcc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792438731850:ios:622f201f07221984e0e2b3</string>
</dict>
</plist>